@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #d8dfe8;
    --cor-secundaria: #0a3871;
    --cor-terciaria: #ffffff;
    --cor-quarternaria: #495057;
    --cor-aviso: #343A40;
    --cor-aviso2: #495057;
    --fonte-principal: 'Inter', sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    box-sizing:border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    flex-direction: column;
    
}

header, footer{
    flex-shrink: 0;
}

main{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
}
.logo{
    width: 7.5rem;
    height: 3rem;
    padding: 2%
}
.area{
    padding: 5%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 40px;
}
.area__mensagem{
    flex: 2;
    display: flex;
    flex-direction: column ;
    height: 100%;
    justify-content: space-between; 
    margin-left: 10% ;
    padding: 2%; 
}
.area__mensagem__texto{
    width: 100%;
    height: 60vh;
    padding: 2%;
    font-size: 32px;
    color: var(--cor-secundaria);
    font-weight: 400;
    background-color: var(--cor-primaria);
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    /* margin-top: -15%; */
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.area__mensagem__texto::placeholder{
    color: var(--cor-secundaria);
}
.area__condicao{
    display: flex;
    align-items: baseline;
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-quarternaria);
    margin-top: 5%;
    
}
.area__botoes{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:baseline;
    gap: 24px;
    padding-top: 2%;
    /* margin-bottom: -45%; */
}
.area__botoes__cripto,
.area__botoes__descripto{
    display: flex;
    justify-content: center;
    gap: 24px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    padding: 24px 0;
}
.area__botoes__descripto{
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
   
}
.area__resultado,
.area__resultado__result{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--cor-terciaria);
    background-color: var(--cor-terciaria);
    border-radius: 24px;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    margin-top: -10%;
    margin-bottom: -2%;
    margin-right: 2%;
    padding: 32px;
}
.area__resultado__result{
    justify-content:space-between;
   
}

.area__resultado__texto{
    color: var(--cor-aviso2);
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    height: 70%;
}
.imagem{
    height: 70%;
}
.aviso_1{
    color: var(--cor-aviso);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 0;
    height: 15%;
}
.aviso_2{
    color: var(--cor-aviso2);
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 0%;
    height: 15%;
}

.area__copiar{
    display: flex;
    justify-content: center;
    gap: 24px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    padding: 24px 0;
    margin-top: 100%;
   
}

.rodape{
    font-family: var(--fonte-principal);
    font-size: 24PX;
    text-align: center;
    font-weight: 400;
    color: var(--cor-secundaria);
    height: 5%;
}

@media (max-width: 1200px) {
    .logo{
        padding: 5%;
    }
    .area {
        flex-direction: column;
        justify-content:flex-start;
        height: 100vh;
        padding: 5%;
        margin-top: 10%;
        gap: 20px;
    }

    .area__mensagem {
        width: 100%;
        margin-left: 0;
        padding: 2%;
        height: 30%;
    }

    .area__condicao {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .area__botoes {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 20px;
        align-items: center;
    }

    .area__botoes__cripto,
    .area__botoes__descripto {
        width: 45%;
    }

    .area__resultado,
    .area__resultado__result {
        width: 90%;
        height: 30%;
        margin: 0;
        padding: 5%;
    }
    .area__copiar{
        margin-top: 0%;
    }
}
@media (max-width: 460px) {
    .logo{
        padding: 5%;
    }
    .area {
        flex-direction: column;
        justify-content:flex-start;
        height: 100vh;
        padding: 5%;
        margin-top: 10%;
        gap: 20px;
        margin-left: 0;
    }

    .area__mensagem {
        width: 100%;
        margin-left: 0;
        padding: 2%;
        height: 40%;
    }

    .area__condicao {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .area__botoes {
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 20px;
        align-items: center;
    }

    .area__botoes__cripto,
    .area__botoes__descripto {
        width: 100%;
    }

    .area__resultado,
    .area__resultado__result {
        width: 90%;
        height: 40%;
        padding: 5%;
    
    }
    .area__copiar{
        margin-top: 30%;
        
    }
    .imagem{
        height: 50%;
    }
    .aviso_1,
    .aviso_2{
        padding: 0;
        height: 15%;
    }
}