@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #d8dfe8;
    --cor-secundaria: #0a3871;
    --cor-terciaria: #ffffff;
    --cor-quarternaria: #495057;
    --cor-aviso: #343A40;
    --cor-aviso2: #495057;
    --fonte-principal: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    /* box-sizing: border-box; */
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
   
    
}

.cabecalho {
    position:relative;
    width: 100%;
    height: 150px;
    margin: 0 auto; 
    overflow: hidden;
}


.header__image {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px; /* Ajuste conforme necessário */
    font-family: var(--fonte-principal);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.area{
    padding: 5%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 40px;
    
}
.area__mensagem{
    flex: 2;
    display: flex;
    flex-direction: column ;
    height: 100vh;
    justify-content: space-between; 
    margin-left: 0 ;
    padding: 0; 
     /* Centraliza a imagem no elemento */
}
.area__mensagem__texto{
    width: 100%;
    height: 100%;
    padding: 3%;
    font-size: 32px;
    color: var(--cor-terciaria);
    font-weight: 400;
    background-color: var(--cor-primaria);
    outline: none;
    border: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: url('./img/Fundo.JPG');
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    position: relative;
}
.area__mensagem__texto::placeholder{
    color: var(--cor-terciaria);
}
.area__condicao{
    display: flex;
    align-items: baseline;
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: 400;
    color: var(--cor-quarternaria);
    margin-bottom: -20%;
    
}
.area__botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-top: 2%;
    margin-bottom: -45%;
}
.area__botoes__cripto{
    display: flex;
    justify-content: center;
    gap: 24px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-terciaria);
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    padding: 24px 0;
}
.area__botoes__descripto{
    display: flex;
    justify-content: center;
    gap: 24px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    padding: 24px 0;
}
.area__resultado,
.area__resultado__result{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--cor-terciaria);
    background-color: var(--cor-terciaria);
    border-radius: 24px;
    width: 400px;
    height: 944px;
    flex-shrink: 0;
    margin: 0;  
    padding: 32px;
}
.area__resultado__result{
    justify-content:space-between;
   
}

.area__resultado__texto{
    color: var(--cor-aviso2);
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */
}
.aviso_1{
    color: var(--cor-aviso);
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 32px;
}
.aviso_2{
    color: var(--cor-aviso2);
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 32px;
}

.area__copiar{
    display: flex;
    justify-content: center;
    gap: 24px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    padding: 24px 0;
   
}

.rodape{
    font-family: var(--fonte-principal);
    font-size: 12PX;
    text-align: center;
    font-weight: 400;
    color: var(--cor-secundaria);
}

@media (max-width: 768px) {
    .logo{
        padding: 5%;
    }
    .area {
        flex-direction: column;
        justify-content:flex-start;
        height: 100vh;
        padding: 5%;
        margin-top: 10%;
        gap: 20px;
    }

    .area__mensagem {
        width: 100%;
        margin-left: 0;
        padding: 2%;
        height: auto;
    }

    .area__condicao {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .area__botoes {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 20px;
        align-items: center;
    }

    .area__botoes__cripto,
    .area__botoes__descripto {
        width: 45%;
    }

    .area__resultado,
    .area__resultado__result {
        width: 90%;
        height: auto;
        margin: 0;
        padding: 5%;
    }
}
@media (max-width: 375px) {
    .logo{
        padding: 5%;
    }
    .area {
        flex-direction: column;
        justify-content:flex-start;
        height: 100vh;
        padding: 5%;
        margin-top: 10%;
        gap: 20px;
    }

    .area__mensagem {
        width: 100%;
        margin-left: 0;
        padding: 2%;
        height: auto;
    }

    .area__condicao {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .area__botoes {
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 20px;
        align-items: center;
    }

    .area__botoes__cripto,
    .area__botoes__descripto {
        width: 100%;
    }

    .area__resultado,
    .area__resultado__result {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 5%;
    
    }
}